/more_tests.ipynb
/old_heatmaps_save.py
/statcast_heatmaps.ipynb
/test.ipynb
__pycache__/
bonus_analyses/batted_balls_2025.csv
/batting.csv
/all_batters.csv
/batters.csv
/image.png
/age_curve.ipynb
/two_strike.ipynb
/velo_control_ppf.ipynb
/qualified.csv